.main-container {
    -fx-background-color: #f0f8ff; /* Light blue background */
    -fx-padding: 20px;
    -fx-font-family: 'Arial';
}

.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.pie-chart {
    -fx-pie-label-visible: true;
    -fx-pie-label-line-length: 10;
}

.stats-container {
    -fx-padding: 10px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-border-color: #ccc;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
}

.subtitle-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.stats-label {
    -fx-font-size: 14px;
    -fx-text-fill: #666;
}

.return-button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-background-radius: 10px;
}

.return-button:hover {
    -fx-background-color: #0056b3;
}